:root {
  --background-color: #f5f5f5;
  --color-1-dark-grey: #3f3f37;
  --color-2-light-grey: #d6d6b1;
  --color-3-dark-brown: #494331;
  --color-4-orange: #de541e;
  --color-5-green: #008b28;
}

.home-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.home-tile {
  width: 30%;
  border: 2px solid;
  background-color: white;
  min-width: 250px;
  max-width: 350px;
  height: 200px;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-1-dark-grey);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.home-tile:nth-child(5n + 1) {
  border-color: var(--color-4-orange);
}

.home-tile:nth-child(5n + 2) {
  border-color: var(--color-5-green);
}

.home-tile:nth-child(5n + 3) {
  border-color: var(--color-3-dark-brown);
}

.home-tile:nth-child(5n + 4) {
  border-color: var(--color-2-light-grey);
}
.home-tile:nth-child(5n) {
  border-color: var(--color-1-dark-grey);
}
