:root {
    --background-color: #f5f5f5;
    --color-1-dark-grey: #3f3f37;
    --color-2-light-grey: #d6d6b1;
    --color-3-dark-brown: #494331;
    --color-4-orange: #de541e;
    --color-5-green: #008b28;
  }



.datagrid-header{
    font-size: 12px;
    color: var(--background-color);
    background-color: var(--color-5-green);
}